@font-face {
  font-family: 'Hyundai Sans';
  src: local('Hyundai Sans'), local('Hyundai-Sans-Head-Office-Medium'),
      url('/fonts/hyundai/HyundaiSansHeadOffice-Medium.woff2') format('woff2'),
      url('/fonts/hyundai/HyundaiSansHeadOffice-Medium.woff') format('woff'),
      url('/fonts/hyundai/HyundaiSansHeadOffice-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
