@font-face {
    font-family: 'Hyundai Sans';
    src: local('Hyundai Sans Head Office Medium'), local('Hyundai-Sans-Head-Office-Medium'),
        url('HyundaiSansHeadOffice-Medium.woff2') format('woff2'),
        url('HyundaiSansHeadOffice-Medium.woff') format('woff'),
        url('HyundaiSansHeadOffice-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }